<div class="container">
  {{user.username}}
  <form (ngSubmit)='onSubmitChangePassword()'>
    <div class="form-group">
      <label for="oldpassword">Old Password</label>
      <input type="password" class="form-control" [(ngModel)]='oldpassword' name='oldpassword' id="oldpassword">
    </div>
    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input type="password" class="form-control" [(ngModel)]='newpassword' name='newpassword' id="newpassword">
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" class="form-control" [(ngModel)]='confirmpassword' name='confirmpassword' id="confirmpassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>